@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: auto;
  width: 100%;
  background: #fafafa;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

input[type="password"]::-ms-reveal {
  display: none;
}

input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-password-toggle {
  display: none;
}

button:disabled {
  cursor: not-allowed;
}
