@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  max-width: 1440px;
  margin: auto;
  width: 100%;
  background: #fafafa;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}
